/* 
Project:   Fish Stocking Map
File:      styles.css 
Author:    Maxximillion Thomas
Purpose:   A data-driven GIS application for mapping fish restocking events across Ontario's waterbodies.
Date:      February 8, 2026
*/

html {
    font-family: 'Arial', sans-serif; 
    font-size: 10px;
}

html, 
body, 
#viewDiv { 
    padding: 0; 
    margin: 0; 
    height: 100%; 
    width: 100%; 
}

.header { 
    position: absolute; 
    top: 15px; 
    left: 75px; 
    /* Ensure the header sits above the map */
    z-index: 10; 

    /* Text breathing room */
    padding-top: 2px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 5px; 
    line-height: 10px;

    /* Box styling */
    background: white; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
    border-radius: 5px; 
}